<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="PrimeLocal" value="..\..\lib\NuGets" />
    <add key="Prime" value="\\amr.corp.intel.com\ec\proj\mdl\jf\intel\tpapps\tmmlibs\prime\prime_v8.02.02-evg5040502-tos31000\lib\NuGets" />
    <add key="ATE_TestMethods" value="\\amr.corp.intel.com\ec\proj\mpe\MIT_ATE_TM\NuGets" />
	<add key="PrimeTraceId" value="\\amr.corp.intel.com\ec\proj\MDO\Global\MIG\TRACE\Nuget\Prod" />
  </packageSources>
  <config>
     <add key="globalPackagesFolder" value="..\..\temp\packages" />
  </config>
</configuration>