Version 5.0;
# Plist ID : 7e16e80a4055f46bf154bb66d90dd2a1de9aaa12
# pcar_file: /p/pde/tvpv/mtl/pcar3/Mdrv/gen_drv_reset_common.py
# Values retrieved from Linus listed:
# Set 0 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 1 : {'longresettype_cpu': 'phase2_coreless', 'Se_module': 'Mscn', 'cores': 'disabled', 'atomcores': 'disabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '100', 'stfout_mode': 'stfout', 'bclkpll': 'disabled'}
# Set 2 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mscn', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '400', 'stfout_mode': 'stfout', 'bclkpll': 'disabled'}
# Set 3 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mscn', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '100', 'stfout_mode': 'stfout', 'bclkpll': 'disabled'}
# Set 4 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mscn', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '200', 'stfout_mode': 'stfout', 'bclkpll': 'disabled'}
# Set 5 : {'longresettype_cpu': 'phase1a', 'Se_module': 'Mpth', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 6 : {'longresettype_cpu': 'phase2', 'Se_module': 'MarrMbist', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 7 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAarr', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '40', 'atomfreq': '40', 'ringfreq': '40', 'stf_clk': '400', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 8 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAarr', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': '400', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 9 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAarr', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': '100', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 10 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAarr', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '100', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 11 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAarr', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '40', 'ringfreq': '08', 'stf_clk': '400', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 12 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAarr', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 13 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAscn', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': '100', 'stfout_mode': 'stfout', 'bclkpll': 'disabled'}
# Set 14 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAscn', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '200', 'stfout_mode': 'stfout', 'bclkpll': 'disabled'}
# Set 15 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAscn', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '12', 'ringfreq': '08', 'stf_clk': '400', 'stfout_mode': 'stfout', 'bclkpll': 'disabled'}
# Set 16 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAscn', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': '400', 'stfout_mode': 'stfout', 'bclkpll': 'disabled'}
# Set 17 : {'longresettype_cpu': 'phase1a', 'Se_module': 'Mpth', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 18 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mpth', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 19 : {'longresettype_cpu': 'phase2_coreless', 'Se_module': 'Mtpi', 'cores': 'disabled', 'atomcores': 'disabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 20 : {'longresettype_cpu': 'phase1a', 'Se_module': 'Mclk', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'enabled'}
# Set 21 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mclk', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 22 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 23 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 24 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '100', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 25 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': '100', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 26 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '200', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 27 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': '200', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 28 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '400', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 29 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': '400', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 30 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mpth', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '100', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 31 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mpth', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '200', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 32 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mpth', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '400', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 33 : {'longresettype_cpu': 'phase2', 'Se_module': 'MAfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '400', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 34 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mtpi', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 35 : {'longresettype_cpu': 'infra', 'Se_module': 'Mtpi', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 36 : {'longresettype_cpu': 'phase1a', 'Se_module': 'Mtpi', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 37 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mtpi', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 38 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mmio', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 39 : {'longresettype_cpu': 'infra', 'Se_module': 'Mfus', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 40 : {'longresettype_cpu': 'no_longreset', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 41 : {'longresettype_cpu': 'phase1a', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 42 : {'longresettype_cpu': 'phase2_coreless', 'Se_module': 'Mdrv', 'cores': 'disabled', 'atomcores': 'disabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 43 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 44 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '100', 'stfout_mode': 'stfout', 'bclkpll': 'disabled'}
# Set 45 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '400', 'stfout_mode': 'stfout', 'bclkpll': 'disabled'}
# Set 46 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '100', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 47 : {'longresettype_cpu': 'no_longreset', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 48 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '200', 'stfout_mode': 'stfout', 'bclkpll': 'disabled'}
# Set 49 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '200', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 50 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '400', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 51 : {'longresettype_cpu': 'phase2', 'Se_module': 'MarrPbist', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '100', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 52 : {'longresettype_cpu': 'phase2', 'Se_module': 'MarrPbist', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '08', 'ringfreq': '04', 'stf_clk': '100', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 53 : {'longresettype_cpu': 'phase2', 'Se_module': 'MarrPbist', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 54 : {'longresettype_cpu': 'phase2', 'Se_module': 'MarrPbist', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '100', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 55 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mpth', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 56 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '100', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 57 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mfun', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '08', 'atomfreq': '08', 'ringfreq': '08', 'stf_clk': '200', 'stfout_mode': 'tdo_on_stf', 'bclkpll': 'disabled'}
# Set 58 : {'longresettype_cpu': 'fuseoverride', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 59 : {'longresettype_cpu': 'infra', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 60 : {'longresettype_cpu': 'phase1a', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 61 : {'longresettype_cpu': 'phase2', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 62 : {'longresettype_cpu': 'phase2_coreless', 'Se_module': 'Mdrv', 'cores': 'disabled', 'atomcores': 'disabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}
# Set 63 : {'longresettype_cpu': 'phase2_serial', 'Se_module': 'Mdrv', 'cores': 'all_enabled', 'atomcores': 'all_enabled', 'corefreq': '04', 'atomfreq': '04', 'ringfreq': '04', 'stf_clk': 'disabled', 'stfout_mode': 'disabled', 'bclkpll': 'disabled'}

GlobalPList resetplb_xxx080808xxx_phase2_MarrMbist_C28A6P_sort_flattap_list [Flatten] {
   # longresettype_cpu name=phase2 bit=x module=MarrMbist ratio=cores_cpu=x atomcores_cpu=xx corefreq_cpu=08 atomfreq_cpu=08 ringfreq_cpu=08 stf_clk_cpu=x stfout_mode_cpu=x bclkpll_cpu=x 
   Pat g0066774W3719690A_Hm_VC28xCA078_Rr020000xxxPP_dxxx040404xxxxxxxxxxx_sC28A6PxxBTCW13J052_x25_longreset_cpu_lr_infra_MarrMbist;
   Pat g0066775W3719690A_LJ_VC28xCA078_Rr020000xxxPP_dxxx040404xxxxxxxxxxx_sC28A6PxxBTCe13J052_x30_longreset_cpu_lr_fuse_override_MarrMbist;
   Pat g0066776W3719690A_GW_VC28xCA078_Rr020000xxxPP_dxxx040404xxxxxxxxxxx_sC28A6PxxBTCX13J052_x35_longreset_cpu_lr_phase1_MarrMbist;
   Pat g0066773W3719690A_M4_VC28xCA078_Rr020000xxxPP_dxxx040404xxxxxxxxxxx_sC28A6PxxBTCX13J052_x45_longreset_cpu_lr_phase2_MarrMbist;
}  # End of resetplb_xxx080808xxx_phase2_MarrMbist_C28A6P_sort_flattap_list

GlobalPList resetplb_xxx080808xxx_no_longreset_Mdrv_C28A6P_sort_flattap_list [Flatten] {
   # longresettype_cpu name=no_longreset bit=x module=Mdrv ratio=cores_cpu=x atomcores_cpu=xx corefreq_cpu=08 atomfreq_cpu=08 ringfreq_cpu=08 stf_clk_cpu=x stfout_mode_cpu=x bclkpll_cpu=x 
   Pat g0066765W3719690A_6I_VC28xCA078_Rr0e0000xxxPP_nxxx040404xxxxxxxxxxx_sC28A6PxxBTC013J052_x20_longreset_cpu_lr_none;
}  # End of resetplb_xxx080808xxx_no_longreset_Mdrv_C28A6P_sort_flattap_list

