# This is a basic workflow to help you get started with Actions
name: CI
env:
  TARGET: 'ALL'

on: 
  push:

jobs:
  Compile:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      #- name: testrun
      #  run:  powershell "dir env:"
      - name: restore
        run:  "dotnet tool restore"
      - name: compile base
        run:  .\pipeline_scripts\CompileAll.cmd Base -ci $env:GITHUB_WORKSPACE
      - name: compile target
        run:  .\pipeline_scripts\CompileAll.cmd $TARGET -ci $env:GITHUB_WORKSPACE
      - name: print GITHUB_WORKSPACE
        run:  powershell "echo $env:GITHUB_WORKSPACE"
      #- name: CD into GITHUB_WORKSPACE
      #  run:  powershell "cd $env:GITHUB_WORKSPACE"
      #- name: print GITHUB_ACTION_PATH
      #  run:  powershell "echo $env:GITHUB_ACTION_PATH"        
      #- name: script
      #  run:  python print.py
      - name: Run Unit Tests
        run: .\pipeline_scripts\RunUnitTests.cmd -ci

  UnitTest:
    needs: Compile
    runs-on: self-hosted
    steps:
     - name: Run Unit Tests
       run: .\pipeline_scripts\RunUnitTests.cmd -ci $env:GITHUB_WORKSPACE
     - name: CD into GITHUB_WORKSPACE
       run:  powershell "cd $env:GITHUB_WORKSPACE"

         
