# This is a basic workflow to help you get started with Actions
name: CI
env:
  TARGET: "All"
  pValPath: .\pipeline_scripts\pVal\PrimeValTool.exe
  tosPath: C:\intel\hdmt\hdmtOS_3.10.0.0_Release

on: 
  push:
    branches: 
     - '**'
    tags:
     - '**-ddg**'

concurrency: 
  group: tos-validation

jobs:
  Compile:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Compile code
        uses: ./.github/actions/compile
        timeout-minutes: 15
        #max_attempts: 3, not supported, look into workflow: https://hsalem.com/posts/ability-to-rerun-single-jobs-in-github-actions.html
        continue-on-error: false

  UnitTest:
    needs: Compile
    runs-on: self-hosted
    steps:
     - name: Run Unit Tests
       run: .\pipeline_scripts\RunUnitTests.cmd -ci $env:GITHUB_WORKSPACE
       timeout-minutes: 15
       continue-on-error: false

  CheckCoverage:
    needs: UnitTest
    runs-on: self-hosted
    steps:
      - name: Run coverage analysis
        uses: ./.github/actions/coverage
        timeout-minutes: 10
        continue-on-error: true
         
  PrimeValidation:
    needs: CheckCoverage
    runs-on: self-hosted
    steps:
      - name: Run PVAL
        uses: ./.github/actions/pval
        timeout-minutes: 10
        continue-on-error: false
         
  Release:
    needs: PrimeValidation
    #if: contains(github.ref, '/tags/v*')
    #if: contains(github.ref, '-ddg') || contains(github.ref, 'main')
    if: contains(github.ref, '-ddg')
    runs-on: self-hosted
    steps:
      - name: Run Release
        uses: ./.github/actions/release
        timeout-minutes: 10
        continue-on-error: false
        with:
          authkey: ${{secrets.WIKI_AUTHKEY}}
          
      - name: 'Upload Source Code Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: source code
          path: .\src
          retention-days: 90



















         
